@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Advent Pro', sans-serif;
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  font-size: 2em;
}
a {
  text-decoration: none;
  color: black;
}

/* **************** IMAGE PRINCIPALE ************* */
#imagePrincipale {
  padding-top: 60px;
  background-size: cover;
  height: 500px;
}
#imagePrincipale > h1 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: rgb(32, 32, 32);
  font-size: 6em;
  margin-top: 100px;
  text-shadow: 1px 3px 2px black;
}
#premierTrait {
  height: 1px;
  width: 25%;
  margin: 50px auto;
  background-color: #FFFAE1;
  box-shadow: 1px 3px 2px black;
}
h3 {
  text-align: center;
  color:antiquewhite;
  font-size: 3em;
  text-shadow: 1px 3px 2px black;
}



/* **************** ANIMATIONS ********************** */

.main{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.main .content .card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom:100px;
  margin-top: 100px;
}
.main .content .card .left{
 flex: 0 0 30%;
 padding: 20px;
 background-color:black;
 color:#fff;
}
.main .content .card .right img{
  height:300px;
  width: 400px;
  margin-top: 5px;
}


button{
  padding: 10px 20px;
  background-color: #fff;
  color:#000;
  border:none;
  margin-bottom: 30px;
  outline:none;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  cursor: pointer;
}


.table-style  {
    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    min-width: 500px;
    width: auto;
    cursor: pointer;
    margin: 0px auto;
    border: 2px solid rgb(0, 0, 0);
}

thead tr {
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: left;
}

th, td {
    padding: 15px 20px;
    text-align: center;
}

tbody tr, td, th {
    border: 1px solid #ddd;
}

tbody tr:nth-child(even){
    background-color: #f3f3f3;
}

@media screen and (max-width: 550px) {
  body {
    align-items: flex-start;
  }
  .table-style  {
    width: 100%;
    margin: 0px;
    font-size: 10px;
  }
  th, td {
    padding: 10px 7px;
}

}




/* ******************* FOOTER ******************** */
footer {
  background-color: #524A3A;
  color: #FFFAE1;
  padding: 40px 0 20px 0;
  text-align: center;
  margin-top: 50px;
}

#copyrightEtIcons {
  display: flex;
  margin-bottom: 20px;
  padding: 0 10%;
}
#copyright {
  width: 50%;
  text-align: left;
  color: #FFFAE1;
}
#icons {
  width: 50%;
  text-align: right;
}
#icons a {
  display: inline-block;
  padding: 0 15px;
  font-size: 1.3em;
  color: #FFFAE1;
}
#icons a:hover {
  transform: scale(1.5);
  transition: 0.1s;
}
