ul {
  margin: 0;
  padding: 0;
}

/* **************** IMAGE PRINCIPALE ************* */

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#principale {
  padding-top: 60px;
  background-size: cover;
}
#principale > h1 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: rgb(32, 32, 32);
  font-size: 6em;
  margin-top: 100px;
  text-shadow: 1px 3px 2px black;
}
#premierTrait {
  height: 1px;
  width: 25%;
  margin: -3px auto;
  background-color: #e8a670;
}




/* **************** ANIMATIONS ********************** */

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom:100px;
  margin-top: 100px;
}
.left{
 flex: 0 0 30%;
 padding: 20px;
 background-color:#e7e7e7;
 border: 2px solid rgb(0, 0, 0);
 



}
.right img{
  height:400px;
  width: auto;
}

.left {
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
}

.right img {
  border: solid;
}


@media screen and (max-width: 775px) {

  .right img {
    height: 300px;
  }
  .left{
    flex: 0 0 50%;
  }

}
@media screen and (max-width: 640px) {

  .right img {
    height: 200px;
  }

}

@media screen and (max-width: 480px) {

  .right img {
    height: 150px;
  }

}




/* **************** TABLEAUX INFORMATIONS ********************** */

.table-style  {
    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    width: auto;
    cursor: pointer;
    margin: 0px auto;
    border: 2px solid rgb(0, 0, 0);
}

thead tr {
    background-color: #e7e7e7;
    color: #000;
    text-align: left;
}

th, td {
    padding: 15px 20px;
    text-align: center;
}

tbody tr, td, th {
    border: 1px solid #000;
}

tbody tr:nth-child(even){
    background-color: #f3f3f3;
}

@media screen and (max-width: 642px) {

  .table-style  {
    width: 75%;
    font-size: 10px;
  }
  th, td {
    padding: 10px 7px;
}

}


