.btn {
    display: block;
    font-family: Josefin Sans Thin;
    margin: 50px 0px;
    font-size: 20px;
    font-weight: lighter;
    color: #333;
    padding: 15px 55px;
    background: #e5cb91;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    box-shadow: 0 6px #efa424;
}

button:hover {
    background-color:  #d39221;
    box-shadow: 0 6px  #9d6c18;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

.btn:active {
    box-shadow: 0 0 #efa424;
    top: 6px;
}