/* **************** contenu générale ************* */

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
a{
  color:#e8a670;
}

/* **************** Intro ************* */


.container > h2{
  margin-top: 100px;
}

#premierTrait {
  height: 1px;
  width: 25%;
  margin: -3px auto;
  background-color: #e8a670;
}

.container > h3{
  margin-top: 70px;
  margin-bottom: 100px;
}

  /* **************** formulaire ************* */
#formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
  border: 1px solid #000;
  color: #FFF;
}

#formulaire > form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

input, textarea {
  border: none;
  width: 55%;
  padding: 15px 10px;
  margin: 1px 0;
  font-size: 1.2em;
  border-radius: 8px;
  font-family: "Josefin Sans" ;
  font-size : 20px;
}

textarea {
  height: 120px;
}

  /* **************** MAP ************* */

#localisation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 100px 0;
}

#localisation > h2{
  margin-top: 70px;
}

#map {
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
}

.texte-map, .inté-map{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}