/* **************** contenu générale ************* */

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}


/* **************** Intro ************* */

.container > h2{
  text-align: center;
  margin-top: 70px;
}

#premierTrait {
  height: 1px;
  width: 25%;
  margin: -3px auto;
  background-color: #e8a670;
}

.container > h3{
  margin-top: 70px;
}

  /* **************** formulaire ************* */
#formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #524A3A;
  color: #FFF;
}

#formulaire > form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

#formulaire > form > button{
  margin: 40px 0;
}

input, textarea, button {
  border: none;
  width: 55%;
  padding: 15px 10px;
  margin: 1px 0;
  font-size: 1.2em;
  border-radius: 8px;
}

textarea {
  height: 120px;
}

button {
  font-size: 1.5em;
  background-color: #FFFAE1;
}

button:hover {
  background-color: #e55039;
  color: #FFFAE1;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}


  /* **************** MAP ************* */

#localisation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFAE1;
  padding: 0px 0px 100px 0;
}

#localisation > h2{
  margin-top: 70px;
}

#map {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.texte-map, .inté-map{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}