footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #524a3a;
    color: rgb(255, 255, 255);
    padding: 20px 0 10px 0;
    text-align: center;
}
.content-footer {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    padding: 50px 0 50px;
}

.bloc {
    flex-basis: 20%;
    margin: 0 30px;
}

footer li, footer p{
    font-family: "Josefin Sans";
}

/* contact */
.footer-contact h3,
.footer-services h3,
.footer-schedule h3,
.footer-medias h3 {
    font-size: 22px;
    padding-bottom: 20px;
}

.footer-contact p {
    padding: 5px 0;
}

/* Services */


.services-list,
.schedule-list,
.media-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.services-list li {
    padding: 2px 0;
}
.services-list a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.services-list a:hover {
    color: rgb(3,3,3);
}

.media-list > li{
  display: flex;
  justify-content: space-around;
}


/* Medias */

.media-list {
    position: relative;
    right: 10px;
}
.media-list svg {
    width: 30px;
    margin: 10px 10px;
}
.media-list a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: 30px;
}


/* Media queries */

@media screen and (max-width: 1000px) {

    .content-footer {
        max-width: 100%;
        flex-wrap: wrap;
    }
    .bloc {
        flex-basis: auto;
        margin: 20px 20px;
    }


}


@media screen and (max-width: 600px) {
    .content-footer {
        justify-content: center;
        padding-top: 30px;
    }
    .bloc {
        flex-basis: 70%;
        /* margin: 10px; */
    }
    .footer-contact h3,
    .footer-services h3,
    .footer-schedule h3,
    .footer-medias h3 {
        padding-bottom: 5px;
    }

}


