header{
    background-color:  #524a3a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
}

header > img{
    width: 5em;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
}

.menu > li > a{
    color: white;
    font-family: "Josefin Sans";
    font-size: 18px;
    position: relative;
    padding: 0 5px;
}

.menu > li > a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -6px;
    border-radius: 0.1em;
    transition: 0.2s;
}

.menu > li > a:hover:after{
    width: 100%; 
}

.language{
    position: relative;
}

.selected_lang{
    font-family:  "Josefin Sans";
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: 100px;
}

.language ul{
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1px solid #524a3a;
    border-radius: 3px;
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
}

.language:hover ul{
    display: block;
}

.language ul li a{
    display: block;
    padding: 5px 10px;
}

.language ul li a:hover{
    background-color: #e5cb91;
}

