.main {
    display: flex;
    flex-direction: column ;
}

.main > p{
    padding: 0 20%;
}

h1, p {
    text-align: center;
}

a {
    text-decoration: none;
}

/* Flex des sections */
.planning, .plat, .question, .sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Introduction */
.banniere {
    background-image: url("../Image/images-accueil/marche.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    height : 90vh;
    width: 100%;
    z-index: -20;
}

.filtre{
    background-color: rgba(82, 74, 58, 0.7);
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titre {
    color: #e8a670;
    width : 40%;
    z-index: 100;

}


/* Sponsors images */
.sponsors > div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.sponsors > div >img {
    margin: 0px 5%; 
}

/* Tableau planning */
#planning {
    margin : 50px;
    background-color: #e7e7e7;
}
#entete {
    text-align: left;
}
#ligne {
    padding : 50px;
}
