.main {
    display: flex;
    flex-direction: column ;
    font-family: Josefin Sans Thin;
    font-size : 20px;
}
h1 {
    color : #e8a670;
    font-family: Bittermilk;
    font-size : 42px;
}
h1, p {
    text-align: center;
}
button {
    width : 300px;
    display: block;
    margin: 50px auto 50px auto;
    padding: 10px;
    background-color: #e5cb91;
    font-family: Josefin Sans Thin;
    font-size : 20px;
    border-radius: 30px;
}
a {
    text-decoration: none;
}

/* Flex des sections */
.planning, .plat, .question, .sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Introduction */
.banniere {
    background-image: url("../Image/images-accueil/marche.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    height : 900px;
    width: 100%;
    z-index: -20;
}
#titre {
    color: #e8a670;
    margin: 20% auto;
    font-size: 70px;
    background-color: white;
     width : 40%;
     z-index: 100;
}
.intro > h1 {
    font-family: Last Dream;
    font-size : 58px;
}

/* Sponsors images */
.sponsors > p >img {
   margin: 0px 5%; 
}

/* Tableau planning */
#planning {
    margin : 50px;
    background-color: #e7e7e7;
}
#entete {
    text-align: left;
}
#ligne {
    padding : 50px;
}