.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > p{
    margin-bottom: 60px;
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 90px;
}

.form_group{
    margin-bottom: 20px;
}

.form_group > label{
    display: block;
}

.btn{
    width : 300px;
    display: block;
    margin: 50px auto 50px auto;
    padding: 10px;
    background-color: #e5cb91;
    font-family: Josefin Sans Thin;
    font-size : 20px;
    border-radius: 30px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}