/* **************** TITRE ************* */

#TextePrincipal {
  padding-top: 60px;
  background-size: cover;
  height: 500px;
}

#imagePrincipale {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 60px;
  background: url(Image/baniere.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
  height: 650px;
}
#premierTrait {
  height: 1px;
  width: 25%;
  margin: -3px auto;
  background-color: #e8a670;
}

/* ******************* CARTES ******************** */

.container {
  width: 300px;
  height: 350px;
  perspective: 800px;
}

.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-image: url(https://source.unsplash.com/random/350x500);
}

.back {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.back > h1 {
font-size: 3em;
margin-top: 0px;
}

.lescartes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin : 50px 50px 0px 50px;
  row-gap: 50px; 
}