.container {
    display: flex;
    flex-direction: column ;
}
h1, p {
    text-align: center;
}
button {
    width : 300px;
    display: block;
    margin: auto;
}
a {
    text-decoration: none;
}
.planning, .plat, .question, .sponsors {
    display: flex;
    flex-direction: column;
}
.imgIntro {
    align-items: center;
}
.sponsors > p > img {
    justify-content: space-around;
}